.backgroundImg3 {
	display: grid;
	place-items: center;

	background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/156325783/original/e90a54f5c4385d428fb575b8b541542d79c9f606/develop-your-mern-stack-web-application.jpg");
	justify-content: center;
	display: flex;
	align-items: center;

	height: 100vh; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	color: white;
	font-size: large;
}
