/* * {
	background-color: transparent;
} */
.backgroundImg2 {
	top: 0;
	left: 0;

	min-width: 100%;
	min-height: 100%;
	background: url("https://i.pinimg.com/originals/7e/71/d6/7e71d613cb2c4b8bf8c3a28ffb31a8f0.jpg")
		no-repeat center center fixed;
	height: 100vh; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

/* display: grid;
	place-items: center;
	height: 100vh;
  width: 100vw; */
/* min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0; */

/* background: url(https://c4.wallpaperflare.com/wallpaper/907/885/247/ubuntu-linux-black-grey-wallpaper-preview.jpg) */
/* no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
/* background-image: url("https://c4.wallpaperflare.com/wallpaper/907/885/247/ubuntu-linux-black-grey-wallpaper-preview.jpg"); */
/* height: 100vh;  */
/* background-position: center; */
/* background-repeat: no-repeat;  */
/* background-size: cover;  */
/* . {
	background-color: grey;
} */
/* media screen and (max-width: 1024px) { */
/* Specific to this particular image */
/* .backgroundImg2 {
		left: 50%; */
/* margin-left: -512px; 50% */
/* } */
/* } */
